{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}This is an example page{% endblock %}

{% block navbar %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">4111</a>
  <a class="navbar-link" href="/logout">logout</a>
</nav>
{% endblock %}

{% block content %}
  <h1>Movie:</h1>
  <p>Name: {{ movie[1] }}</p>
  <p>Description: {{ movie[2] }}</p>
  <p>Genre: {{ movie[3] }}</p>

{% endblock %}
